<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link
          rel="stylesheet"
          href="{{ url_for('static', filename='styles/bootstrap.min.css') }}"
  />
  <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap" rel="stylesheet">
  <title>Linear Programming</title>
</head>
<body style="font-family: 'Lexend Deca', sans-serif;">
<div class="container">
  <h3 class="text-center">Linear Programming</h3>
  <div class="row justify-content-center align-items-center">
    <div class="col-md-4 bg-light p-3 m-2">
      <h6 class="mb-0">Select Method:</h6>
    </div>
    <div class="col-md-4 bg-light p-3 m-2 text-end">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
          Click on me
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">method 1</a></li>
          <li><a class="dropdown-item" href="#">method 2</a></li>
          <li><a class="dropdown-item" href="#">method 3</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-8 bg-light p-3 ">
      <label for="exampleInput" class="form-label">Objetive Function</label>
      <input type="text" class="form-control" id="exampleInput" placeholder="e.g. 3x + 2y <= 10">
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-8 bg-light p-3 ">
      <label for="exampleInput" class="form-label">Constraints:</label>
      <input type="text" class="form-control" id="exampleInput" placeholder="e.g. x + y <= 5">
      <input type="text" class="form-control" id="exampleInput" placeholder="e.g. x + y <= 5">
      <input type="text" class="form-control" id="exampleInput" placeholder="e.g. x + y <= 5">
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-4 bg-light p-3 m-2">
      <h6 class="mb-0">Problem Type:</h6>
    </div>
    <div class="col-md-4 bg-light p-3 m-2">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="checkIndeterminate">
        <label class="form-check-label" for="checkIndeterminate">
          Maximization
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="checkIndeterminate">
        <label class="form-check-label" for="checkIndeterminate">
          Minimization
        </label>
      </div>
    </div>
  </div>

</div>

<script src="{{ url_for('static', filename='scripts/bootstrap.bundle.min.js') }}"></script>
</body>
</html>
